body {
    margin: 0;
}

#app-wrapper {
    width: 100%;
    height: 100%;
    padding: 4px;
}

.theme-light {
    background-color: white;
    color: black;
}

.theme-dark {
    background-color: black;
    color: white;
}